<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akvelon.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".PickerActivity" android:screenOrientation="portrait" android:theme="@style/AppStyle"/>
    </application>
</manifest>
